projects/hmpps-libra-event-receiver/src/main/resources/xsd/generic/CSCI_Header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.justice.gov.uk/magistrates/generic/CSCI_Header" targetNamespace="http://www.justice.gov.uk/magistrates/generic/CSCI_Header" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="MessageHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageID">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UUID" type="xs:string" minOccurs="1"/>
							<xs:element name="RelatesTo" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TimeStamp" type="xs:dateTime"/>
				<xs:element name="MessageType" type="xs:string" minOccurs="1"/>
				<xs:element name="From" type="xs:string" minOccurs="1"/>
				<xs:element name="To" type="xs:string" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
